main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 3.25rem 1.5rem 1rem;
  text-align: center;
}
@media screen and (max-width: 426px) {
	main {
		padding: 4.25rem 1.5rem 1rem;
	}
}