@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/ibm-plex-sans-var.woff2) format("woff2");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/ibm-plex-sans-var-italic.woff2) format("woff2");
}

::selection {
  @apply bg-primary-50 text-black;
}

body {
  @apply bg-black text-primary-50;
}

h1 {
  @apply font-bold text-3xl md:text-5xl tracking-tight;
}

h2 {
  @apply font-medium text-2xl;
}

h3 {
  @apply font-medium text-xl;
}

p {
  @apply text-lg mb-4;
}

a {
  @apply text-lg text-primary-400 underline hover:no-underline;
}

ul {
  @apply list-disc my-4 ml-4;
}

ol {
  @apply list-decimal my-4 ml-4;
}

li {
  @apply text-lg;
}

small {
  @apply text-sm text-primary-50/50 italic;
}

.bg-glass {
  @apply backdrop-blur will-change-transform [@supports(backdrop-filter:blur(0px))]:bg-white/[3%];
}

.btn {
  @apply no-underline text-center text-primary-400 bg-gray-900/90 transition duration-300 hover:bg-gray-800/90 border border-gray-700 rounded-2xl p-3;
}

.info-bar {
  @apply bg-white/10 rounded-lg py-2 px-4 mb-6;
}

.info-bar p {
  @apply mb-0;
}

/* Code Blocks */
span[data-rehype-pretty-code-fragment] {
  @apply bg-white/10 rounded-lg py-0.5 px-1;
}

span[data-rehype-pretty-code-fragment] code[data-language] .line span {
  @apply text-base text-primary-50 !important;
}

div[data-rehype-pretty-code-fragment] {
  @apply overflow-hidden bg-white/10 rounded-lg mb-4;
}

div[data-rehype-pretty-code-fragment] pre {
  @apply overflow-x-auto py-2 text-sm leading-6;
}

div[data-rehype-pretty-code-title] {
  @apply bg-white/10 text-gray-300/90 text-sm px-3 py-1 mb-1 rounded-lg;
}

div[data-rehype-pretty-code-fragment] .line {
  @apply px-3 border-l-4 border-l-transparent;
}

div[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply border-l-primary-400/90 bg-primary-50/10;
}

div[data-rehype-pretty-code-fragment] code {
  @apply grid;
}

code[data-line-numbers] {
  counter-reset: lineNumber;
}

code[data-line-numbers] .line::before {
  counter-increment: lineNumber;
  content: counter(lineNumber);

  @apply inline-block text-right w-4 mr-3 text-gray-300/90;
}
